<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cipher Menu</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="text-center text-dark mb-4">Cipher Algorithms</h2>
      <div class="list-group">
        <a href="/caesar" class="list-group-item list-group-item-action"
          >Caesar Cipher</a
        >
        <a href="/vigenere" class="list-group-item list-group-item-action"
          >Vigenère Cipher</a
        >
        <a href="/railfence" class="list-group-item list-group-item-action"
          >Rail Fence Cipher</a
        >
        <a href="/playfair" class="list-group-item list-group-item-action"
          >Playfair Cipher</a
        >
        <a href="/transposition" class="list-group-item list-group-item-action"
          >Transposition Cipher</a
        >
      </div>
    </div>
  </body>
</html>
